/* Определение шрифта */
@font-face {
    font-family: PixelFont;
    src: url(./pixeltimes.ttf);
}

@keyframes neonGlow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* Выделение текста */
::selection {
    background: var(--fore-color);
    color: var(--back-color-transparent);
}

/* Переменные с цветами */
:root {
    --back-color: black;
    --back-color-transparent: rgba(0, 0, 0, 0.5);
    --fore-color: rgb(195, 0, 255);
    --fore-color-1: rgb(255, 119, 244);
    --fore-color-2: rgb(202, 124, 255);
    --fore-color-3: rgb(92, 233, 255);
    --fore-color-4: rgb(255, 209, 92);
    --fore-color-5: rgb(246, 74, 138);
    --bloom-filter: drop-shadow(0 0 5px var(--fore-color));
}

/* Стили для body */
body {
    background-image: url(./images/123.png);
    background-position: center;
    background-attachment: fixed;
    background-size: 200vh;
    color: var(--fore-color-2);
    font-family: 'PixelFont';
    font-size: 16px;
    line-height: 1.5;
    padding: 4vw;
    margin: 0;
    filter: var(--bloom-filter);
    display: flex; /* Используем flexbox */
    flex-direction: column;
    align-items: center; /* Центрируем контент по горизонтали */
    justify-content: center; /* Центрируем контент по вертикали */
}

/* Стили для заголовков h1 и h2 */
h1, h2 {
    text-align: center;
    overflow: hidden;
    color: var(--fore-color-3);
}

/* Стили для ссылок */
a.team-link, a.team-link:active, a.team-link:visited {
    color: var(--fore-color-1);
    text-align: center;
    display: block;
    border: solid;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

a.member-link, a.member-link:active, a.member-link:visited {
    background-image: linear-gradient(90deg, var(--fore-color-1), var(--fore-color-3), var(--fore-color-4));
    background-size: 400% 2%;
    color: transparent;
    -webkit-background-clip: text;
    animation: neonGlow 2s linear infinite; /* Эффект переливания */
}

.horizontal-align {
    display: flex;
}

/* Стили для списков ul и li */
ul {
    list-style-type: none;
    padding: 20px;
}

li {
    background-color: var(--back-color-transparent);
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
}

/* Стили для жирного текста */
strong {
    font-size: 1.2em;
    margin-right: 20px;
}

/* Стили для абзацев */
p {
    margin: 5px 0;
    color: var(--fore-color);
}

/* Стили для списка результатов .results-list */
.results-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.results-list li {
    display: flex;
    justify-content: space-between;
    background-color: var(--back-color-transparent);
    padding: 10px;
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
     background-color: rgba(255, 255, 255, 0);  /* White with 50% opacity */
}

th, td {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

td {
    border-bottom: none;
    color: var(--fore-color-3);
    display: flex;
    justify-content: space-between;
    background-color: var(--back-color-transparent);
    padding: 10px;
    border-radius: 5px;
}
thead {
    display: none;
}
.payload-data {
    color: var(--fore-color-5);
}
.bg-home {

}

.bg-sql {
    background-image: url('./images/124 .png'); /* Update the path as needed */
    background-position: center;
    background-attachment: fixed;
    background-size: 200vh;
    color: var(--fore-color-2);
    font-family: 'PixelFont';
    font-size: 16px;
    line-height: 1.5;
    padding: 4vw;
    margin: 0;
    filter: var(--bloom-filter);
    display: flex; /* Используем flexbox */
    flex-direction: column;
    align-items: center; /* Центрируем контент по горизонтали */
    justify-content: center; /* Центрируем контент по вертикали */
}

.bg-writeups {
    background-image: url('./images/125.png'); /* Update the path as needed */
    background-position: center;
    background-attachment: fixed;
    background-size: 200vh;
    color: var(--fore-color-2);
    font-family: 'PixelFont';
    font-size: 16px;
    line-height: 1.5;
    padding: 4vw;
    margin: 0;
    filter: var(--bloom-filter);
    display: flex; /* Используем flexbox */
    flex-direction: column;
    align-items: center; /* Центрируем контент по горизонтали */
    justify-content: center; /* Центрируем контент по вертикали */
}