<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTF Exploits</title>
    <link type="text/css" rel="stylesheet" href="../static/style.css">
</head>
<body>

<h1>Welcome to the CTF Exploits Database</h1>

<h2>Available Exploits</h2>
<ul>
    <li><a href="/sql" class="team-link">SQL Injections</a></li>
    <li><a href="/writeups" class="team-link">Writeups</a></li>
    <li><a href="/ssti"class="team-link"> SSTI</a></li>
    </ul>

</body>
</html>
